@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
/* CSS Tree menu styles */

ol.tree {
    padding: 0 0 0 30px;
}

.beside {
  margin-left: 5px;
  cursor: pointer !important;
}

.beside.plus {
  font-weight: 700;
}

.beside.delete {
  font-size: 11px;
}

.tree .tree_label {
  display: inline-block;
  margin-top: 8px;
}

.tree.panel li {
    position: relative;
    margin-left: -15px;
    list-style: none;
    /*cursor: pointer;*/
    margin-bottom: 5px;
}

.tree.panel li.file {
    margin-left: -6px !important;
}

.tree.panel li input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    cursor: pointer;
}

.tree.panel li input:after{
    content:"";
    padding: 10px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.tree.panel li input ~ ol {
    display: none;
}

.tree.panel li input:checked ~ ol {
    display: block;
    height: auto;
}







/* ————————————————————–
  Tree labels
*/
.tree.panel li.file a.tree_label {
    color: #ddd;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.tree.panel li.file a.tree_label:hover {
    color: #688491;
}

.tree.panel li label.tree_label {
    cursor: pointer;
    display: block;
    padding-left: 8px;
}

.tree.panel li label.tree_label:hover{
    color: #637e8b;
}
a.tree_label:before {
  font-family: 'FontAwesome';
  color: #ddd;
  position: relative;
  z-index: 1;
  float: left;
  width: 1em;
  height: 1em;
  margin: 1px 6px -8px -16px;
  content: '\f15b';
  text-align: center;
  line-height: .9em;
}
/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
  font-family: 'FontAwesome';
  color: #ddd;
  position: relative;
  z-index: 1;
  float: left;
  width: 1.1em;
  height: 1em;
  margin: 1px 6px -8px -16px;
  content: '\f07b';
  text-align: center;
  line-height: .9em;
  }

:checked ~ label.tree_label:before { content: '\f07c'; }
